<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="UI">
		<classes>
			<class name="runner.UITestRunner" />
		</classes>
	</test>
	<test thread-count="5" name="API">
		<classes>
			<class name="runner.APITestRunner" />
		</classes>
	</test>
</suite>
